/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}
a {
  color: #2772b0;
}
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
  width: 100%;
}

div img {
  width: 100%;
  max-width: 225px;
}

.wrapper article {
  margin: 2.5%;
}

.wrapper div:nth-child(1),
.wrapper div:nth-child(2),
.wrapper div:nth-child(3),
.wrapper div:nth-child(4) {
  clear: both;
}

.wrapper div:nth-child(1) article:nth-child(1) {
  background: greenyellow;
  float: left;
  width: 20%;
}
.wrapper div:nth-child(1) article:nth-child(2) {
  background: greenyellow;
  float: left;
  width: 20%;
}
.wrapper div:nth-child(1) article:nth-child(3) {
  background: greenyellow;
  float: left;
  width: 20%;
}
.wrapper div:nth-child(1) article:nth-child(4) {
  background: greenyellow;
  float: left;
  width: 20%;
}

.wrapper div:nth-child(2) article:nth-child(1) {
  background: cyan;
  float: right;
  width: 45%;
}

.wrapper div:nth-child(2) article:nth-child(2) {
  background: cyan;
  float: right;
  width: 45%;
}

.wrapper div:nth-child(3) article:nth-child(1) {
  background: pink;
  float: left;
  width: 30%;
}

.wrapper div:nth-child(3) article:nth-child(2) {
  background: pink;
  float: right;
  width: 60%;
}

.wrapper div:nth-child(4) article:nth-child(1) {
  background: orange;
  width: 95%;
}

/* grid system -- mobile first! */

/* Desktop screen Sizes */
@media only screen and (max-width: 768px) {
  .wrapper div:nth-child(1) article:nth-child(1) {
    width: 45%;
  }
  .wrapper div:nth-child(1) article:nth-child(2) {
    float: right;
    width: 45%;
  }
  .wrapper div:nth-child(1) article:nth-child(3) {
    float: right;
    width: 45%;
  }
  .wrapper div:nth-child(1) article:nth-child(4) {
    width: 45%;
  }

  .wrapper div:nth-child(2) article:nth-child(1) {
    float: left;
    width: 45%;
  }

  .wrapper div:nth-child(2) article:nth-child(2) {
    float: right;
    width: 45%;
  }

  .wrapper div:nth-child(3) article:nth-child(1) {
    float: left;
    width: 45%;
  }

  .wrapper div:nth-child(3) article:nth-child(2) {
    float: right;
    width: 45%;
  }

  .wrapper div:nth-child(4) article:nth-child(1) {
    width: 100%;
  }
}

/* Mobile Landscape Screen Sizes */
@media only screen and (max-width: 480px) {
  .wrapper article {
    margin: 0 0 10px;
  }

  .wrapper div:nth-child(1) article:nth-child(1),
  .wrapper div:nth-child(1) article:nth-child(2),
  .wrapper div:nth-child(1) article:nth-child(3),
  .wrapper div:nth-child(1) article:nth-child(4),
  .wrapper div:nth-child(2) article:nth-child(1),
  .wrapper div:nth-child(2) article:nth-child(2),
  .wrapper div:nth-child(3) article:nth-child(1),
  .wrapper div:nth-child(3) article:nth-child(2),
  .wrapper div:nth-child(4) {
    width: 100%;
  }
}
